@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: rgba(128, 128, 128, 0.299);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
header {
    background-color: black;
    color: white;
    font-family: 'Passion One';
    text-align: center;
}

h1 {
    padding-top: 50px;
    padding-bottom: 2px;
    font-variant: small-caps;
    font-size: 10vw;
    padding-left: 10px;
    padding-right: 10px;
    font-display:auto;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 50px;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: cursive;
    font-size: 3.5vw;
    font-weight: bold;
    font-style: italic;
    background-color: white;
}

section > p {
    padding-bottom: 2em;
}
.imagem {
    color: white;
}

.girassol {
    background: black url(girassol.jpg) right center/ cover no-repeat fixed;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.fundo {
    background: black url(letras.jpg) center center/ cover no-repeat fixed;
    background-color: black;

}
/* Fundo da imagem de letras */

.fundo > p {
    background-color: rgba(0, 0, 0, 0.267);
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.989);
    padding-bottom: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
