@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
 a {
    text-decoration: none;
    color: white;
 }
header {
    background-color: #000000;
    color: white;
    padding: 0px 0px 12px 0px;
    margin-bottom: 10px;
    min-width: 500px;
    white-space: nowrap;
}

h1 {
    padding: 40px 10px 0px 10px;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 126px;
}
h2 {
    padding: 0px 10px 30px 40px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px 2px 20px 2px;
    font-size: 16px;
}
main {
    font-family: cursive;
    font-style: italic;
    font-size: 40px;
    line-height: 1em;
    padding-left: 30px;
    margin-top: 50px;
    font-weight: bold;
    padding-bottom: 30px;
    max-width: 1200px;
    min-width: 400px;
}
p > main {
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.girassol {
    min-width: 1230px;
    height: 105vh;
    background-image: url(girassol.jpg);
    background-size: cover;
    margin: 0px;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    margin: 0px;
    background-attachment: fixed;
}
.cartas {
    background: black url(letras.jpg) center center/ cover no-repeat fixed;
    margin: 0px
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
a:hover {
    text-decoration: underline;
}